.session_buttons{
    position: fixed;
    left: 65%; 
    top: 5%;
}

.landing-main{
    background-color: white;
    height: 400px;
}

.main-top{
    background-image: image-url('restaurant2.jpg');
    display: flex;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    opacity:  0.9;
}

.header-link{
    color: white;
    font-weight: 600;
    color: #fff;
    line-height: 1.28571em;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    text-decoration: none;
}

.header-link:hover{
    border-bottom: 2px solid #fff;
}





.header-button{
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 600;
    position: flex;
    // align-items: center;
    margin: 15px 15px 16px 25px;
    padding-bottom: 5px;
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.main-logo{
    position: absolute;
    height: 110px;
    margin-top: 10%;
}