.header-logo{
    width: 60px;
    padding-left: 36px;
}

#show-search-bar-component{
    max-width: 300px;
}

// .display-div{
//     margin-left: 40px;
//     // width: 90px;
// }

.pictures-array{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    max-height: 400px;
    background-color: white;
    // opacity: 0.8;
}

.picture-holder > .show-picture{
    height: 300px;
    width: 24.6vw;
    margin: 1px;
}

.picture-holder{
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.show-header{
    display: flex;
    background-color: white;
    max-width: 2000px;
}

.session_buttons-search{
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    margin-left: 150px;
    // padding-right: 16px;
}

.log-out{
    float: left;
}

.profile-picture-1{
    float: left;
    height: 60px;
    width: 60px;
    background-image: image-url('rick.png');
    background-size: contain;
    position: absolute;
    margin-left: 350px;
    border-radius: 50%;
}


.header-container{
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
}

.header-search-bar{
    background-color: white;
    margin: 30px;
    margin-left: 40px;
    box-shadow: 3px 3px 6px 5px rgba(204, 204, 204, 0.781);
    border-radius: 4px;
}

.header-link-search{
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: #2b273c;
    font-size: 16px;
    font-weight: 600;
    position: flex;
    margin: 10px 5px 16px 15px;
    border: 1px solid #bbbac0;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.header-button-search{
    height: 40px;
    width: 100px;
    background-color: rgb(218, 86, 86);
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: flex;
    // align-items: center;
    margin: 10px 5px 16px 15px;
    padding-bottom: 4px;
    border: 1px solid rgb(218, 86, 86);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.header-link-review{
    color: #2b273c;
    font-weight: 600;
    line-height: 1.28571em;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    padding-top: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.main-show-container{
    margin-left: 160px;
    padding-top: 20px;
}

.main-show{
    display: flex;
    justify-content: center;
    width: 60vw;
    margin-top: 30px;   
}

.business-title{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 9px;
    color: #2b273c;
}

.show-info{
    line-height: 30px;
    width: 715px;
    margin-bottom: 90px;
    // border-bottom: 1px solid #bbbac0;

}

.business-bio{
    color: gray;
}


.business-show-main-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.business-show-main-right{
    position: absolute;
    height: 155px;
    width: 318px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    padding-bottom: 12px;
    align-items: center;
    left: 70vw;
    top: 54vw;
}

.business-show-main-right-top{
    position: absolute;
    height: 148px;
    width: 382px;
    // border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    padding-bottom: 25px;
    align-items: center;
    left: 70vw;
    top: 33vw;
}

.main-show-right{
    margin-top: 30px;
    display: flex;
}

.business-info-div{
    width: 400px;
}

.info-item-1{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-bottom: 10px;
}
.info-item-2{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;
    // padding-bottom: 30px;
}


.business-show-main-left{
    float: left;
}

.phone-img{
    position: relative;
    height: 25px;
    padding-bottom: 16px;
    padding-right: 10px;
}

.location-div{
    display: flex;
    flex-direction: column;
}

.address-ul{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(214, 214, 214);
}

.address-ul > li{
    margin-left: 25px;
    font-size: 13px;
    font-weight: 300;
    padding-top: 5px;
}

.address-ul-container{
    margin-top: -3px;
    width: 317px;
}