.review-button-search{
    height: 40px;
    width: 200px;
    background-color: rgb(218, 86, 86);
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: flex;
    margin: 10px 15px 30px 0px;
    // padding-bottom: 4px;
    border: 1px solid rgb(218, 86, 86);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.trust-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 715px;
    background-color: #e2e0e0;
    opacity: 0.8;
    border-radius: 3px;
    // border-bottom: 1px solid #ebebeb;
}

.warning-text{
    margin-left: 60px;
}

.header-logo-flex{
    height: 24px;
    margin-right: 18px;
    position: absolute;
    margin-left: 30px;
}

.recommended{
    margin-bottom: 20px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: 600;
    border-top: 1px solid #e2e0e0;;
}

.rating-img{
    height: 50px;
    margin-left: -5px;
}

.review-body{
    font-size: 15px;
    line-height: 18px;
}

#review-rating{
    height: 30px;
}

.reviews{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    border-top: 1px solid #e2e0e0;
    // align-items: center;
}

.profile-picture{
    height: 60px;
    width: 60px;
    background-image: image-url('rick.png');
    background-size: contain;
}


.review-content{
    display: flex;
    flex-direction: column;
    width: 466px;
    height: 366px;
    padding-left: 135px;
}

.review-user-detail{
    font-size: 12px;
    line-height: 15px;
    width: 80px;
    margin-top: 8px;
    margin-left: 8px;
}

.review-username{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4px;
}

.reviews1{
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    border-top: 1px solid #e2e0e0;
}

.create-review-container{
    display: flex;

}


.create-reviews-header{
    height: 75px;
    background-color: #F5BFB8;
    display: flex;
    justify-content: space-between;;
    align-items: center;
}

.review-form{
    height: 460px;
    width: 660px;
}

.review-form-container{
    height: 400px;
    width: 600px;
    // background-color: blue;
    border: 1px solid gray;
    border-radius: 4px;
    margin-left: 15vw;
    margin-top: 5vw;
}

.header-link-write-review{
    color: rgb(218, 86, 86);
    font-weight: 600;
    line-height: 1.28571em;
    font-size: 20px;
    border-bottom: 2px solid transparent;
    padding-top: 20px;
    margin-right: 42vw;
    text-decoration: none;
}

.header-logo{
    width: 60px;
    padding-left: 200px;
    margin-right: -40px;
}

.header-link-review{
    height: 40px;
    width: 100px;
    background-color: white;
    color: #2b273c;
    font-size: 16px;
    font-weight: 600;
    position: flex;
    // align-items: center;
    margin: 10px 5px 16px 15px;
    margin-bottom: 16px;
    border: 1px solid #bbbac0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.rating-body{
    height: 300px;
    width: 500px;
    margin: 20px ;
    border: none;
    font-size: 16px;
    outline: none;
}


.select-rating{
    width: 120px;
    margin: 20px 0px 20px 20px;
}

.select-rating-title{
    color: gray;
}

.rating-score-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;;
    align-items: center;
}


.post-review-button {
    background-color: rgb(218, 86, 86);
    color: whitesmoke;
    width: 300px;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.post-review-button:hover {
    background-color: hsl(0, 63%, 61%);
    color: whitesmoke;
    cursor: pointer;
}



//STARS

.starRating-current > #checked {
    color: 218, 86, 86;
}
.starRating-current > #notChecked{
  border-color: white;
  color: white;
}

.stars-outer {
  position: relative;
  display: inline-block;
  color: #ccc;
  margin-right: 5px;
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  /* margin-right: 10px; */
}

