
.search-bar-show{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 660px;
    background-color: white;
    border-radius: 4px;
    // padding-left: 200px;
}


.search-bar-right-show{
    float: left;
    margin: 5 5 5 0;
}


.search-bar-left-show{
    flex: 1;
    margin: 5 5 5 5;
}


.search-left-input-show{
    float: left;
    width: 300px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 19px;
    margin-top: 12px;
    margin-left: 10px;
    text-indent: 0px;
    border-right: groove;
    border-color: #ffffff;
    height: 23px;
}


.search-right-input-show{
    float: left;
    width: 300px;
    height: 33px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: 19px;
    text-indent: 0px;
    padding-top: 15px;
}
