.search-bar{
    position: relative;
    display: inline-block;
    flex-direction: row;
    width: 400px;
    margin-top: 200px;
}

.seach-bar-left{
    display: block;
}

.seach-bar-right{
    display: block;
}