// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-button {
    background-color: rgb(218, 86, 86);
    color: whitesmoke;
    width: 300px;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.sign-in-button:hover {
    background-color: hsl(0, 63%, 61%);
    color: whitesmoke;
    cursor: pointer;
}

.sign-in-button:active{
    background-color: rgb(218, 86, 86);
}

.input-field{
    display: inline-block;
    width: 293px;
    height: 27px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid gray;
}

.top-message{
    color: hsl(0, 53%, 49%);
    text-align: center;
    margin-bottom: 4px;
    margin-right: 150px;
}

.top-session-input-register{
    color: hsl(0, 4%, 18%);
    font-size: 13px;
    font-weight: 570;
    text-align: center;
    margin: 2px 150px 10px 0px;
}

.session-input-register-bottom{
    color: hsl(0, 10%, 40%);
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

.input-field-fname{
    width: 139px;
    height: 27px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid gray;
}
.input-field-lname{    
    width: 139px;
    height: 27px;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid gray;
}

.session-header{
    background-color: #F5BFB8;
    align-items: center;
}

.logo{
    margin-left: 45%;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 60px;
}

.session-container{
    display: flex;
    margin: 10% 15% 10% 5%;
}

.session-form {
    display: block;
    position: relative;
    font-family: sans-serif;
    margin-left: 50%;
}

.form-div{
    display: flex;
    flex-direction: column;
}

.session-container-left{
    flex: 0 0 60%;
    align-items: center;
    vertical-align: baseline;
}


.session-container-right{
    flex: 1;
}

.full-name{
    display: flex;
    // margin-bottom: 5px;
}

.errors-message{
    position: absolute;
    margin: 30px 150px 50px 27%;
    width: 600px;
    background-color: #db574d80;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 350;

}

.errors-message > li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
}
