// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-button {
    background-color: rgb(218, 86, 86);
    color: whitesmoke;
    width: 300px;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 8%;
    font-weight: 700;
}

.sign-in-button:hover {
    background-color: hsl(0, 63%, 61%);
    color: whitesmoke;
    cursor: pointer;
    
}

.session-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-family: sans-serif;
    margin-left: 27%;
    margin-top: 11%;
}

.sign-in-button:active{
    background-color: rgb(218, 86, 86);
}

.input-field{
    width: 293px;
    height: 27px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid gray;
}

.top-message{
    color: hsl(0, 53%, 49%);
    text-align: center;
    margin-bottom: 4px;
}

.top-session-input-register{
    color: hsl(0, 4%, 18%);
    font-size: 13px;
    font-weight: 570;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

.session-input-register{
    color: hsl(0, 10%, 40%);
    font-size: 12px;
    text-align: right;
    margin-top: 12px;
}

.input-field-name{
    width: 135px;
    height: 27px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid gray;
}

.session-header{
    background-color: #F5BFB8;
    align-items: center;
}

.logo{
    margin-left: 45%;
    margin-top: 7px;
    margin-bottom: 5px;
    height: 60px;
}

.session-container{
    display: flex;
    position: relative;
}

.session-container-child{
    flex: 50%;
    padding: 10px;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

#session-picture{
    margin-top: 10%;
}

.full-name{
    display: flex;
    justify-content: space-between;
    margin-bottom: -19px;
}

.errors-message{
    position: absolute;
    margin: 30px 150px 50px 27%;
    width: 600px;
    background-color: #db574d80;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 350;

}

.errors-message > li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 18px;
}
