.input-field-update{
    display: inline-block;
    width: 435px;
    height: 30px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid rgb(167, 167, 167);
}

.update-button{
    background-color: rgb(218, 86, 86);
    color: white;
    width: 120px;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.update-buttons{
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
}

.update-cancel{
    text-decoration: none;
    color: rgb(58, 122, 241);
    margin-top: 19px;
    margin-left: 40px;
}

.update-nav-bar{
    // background-color: blue;
    padding-right: 20px;
    height: 370px;
    width: 235px;
}

.update-profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.profile-title{
    color: rgb(218, 86, 86);
    font-size: 22px;
    font-weight: 600;
}

.form-div{
    display: flex;
    flex-direction: column;
}

.required-span{
    color: gray;
    font-size: 13px;
}

.input-label{
    color: rgb(31, 31, 31);
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 3px;
}

.profile-list-holder{
    display: table;
    list-style: none;
    padding-top: 15px;
}

.update-link{
    display: table-cell;
    vertical-align: middle;
    color: rgb(58, 122, 241);
    border-top: 1px solid whitesmoke;
    height: 45px;
    width: 220px;
    padding-left: 15px;
    
}

.update-link:hover{ 
    background-color: whitesmoke;
}

#bottom-link{
    border-bottom: 1px solid whitesmoke;
}

#selected-link{
    background-color: whitesmoke;
    border-left: 5px solid rgb(218, 86, 86);
    margin-left: -5px;
}

.header-link-profile{
    color: #2b273c;
    font-weight: 550;
    line-height: 1.28571em;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.account-settings{
    margin-left: 15px;
    color: rgb(42, 42, 42);
    font-size: 16px;
    font-weight: 800;
}