.profile-container{
    // display: table;
    // border-spacing: 0;
    // table-layout: auto;
    // margin-left: 18vw;
    background-color: whitesmoke;
    width: 100vw;
    height: 200px;
    padding: 9px 0px 24px;
    // position: relative;
    // border-collapse: collapse;
}

.profile-content-container{
    width: 60vw;
    // display: table;
    // border-spacing: 0;
    // table-layout: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15vw;
    margin-top: 100px;
}

.user-review-container{
    margin-left: 18vw;
    width: 1000px;
}

.under-profile-text{
    color: rgb(51, 51, 51);
    font-weight: 550;
    font-size: 16px;
}


.profile-picture-user-show{
    // position: absolute;
    height: 220px;
    width: 220px;
    background-image: image-url('rick.png');
    background-size: contain;
    border-radius: 4px;
    margin-top: -60px;
}

.profile-picture-user-no-show{
    height: 220px;
    width: 220px;
    // background-image: image-url('rick.png');
    // background-size: contain;
    // border-radius: 4px;
}

.profile-user-info{
    display: table-cell;
    vertical-align: bottom;
    padding: 1em;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // background-color: teal; 
    height: 150px;
    width: 465px;
}

.user-actions{
    // margin-left: -200px;
    height: 100px;
    display: table-cell;
    vertical-align: bottom;
    border-left: 1px solid #e6e6e6;
    padding-left: 10px;
}

.user-reviews{
    height: 600px;
    width: 465px;
    // background-color:violet;
}

.user-username{
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.number-reviews{
    padding-top: 2px;
    font-weight: 550;
    margin-left: 5px;
}

.reviews-holder{
    display: flex;
    flex-direction: row;
}

