.profile-container{
    display: table;
    // table-layout: auto;
    width: 960px;
    padding: 9px 0px 24px;
    position: relative;
    margin-left: 18vw;
    // border-collapse: collapse;
    border-spacing: 0;
    // justify-content: space-around;
    // flex-direction: row;
}

.user-review-container{
    margin-left: 18vw;
}

.under-profile-text{
    color: rgb(51, 51, 51);
    font-weight: 550;
    font-size: 16px;
}


.profile-picture-user-show{
    height: 220px;
    width: 220px;
    background-image: image-url('rick.png');
    background-size: contain;
    border-radius: 4px;
}

.profile-user-info{
    display: table-cell;
    vertical-align: bottom;
    // background-color: teal; 
    height: 150px;
    width: 465px;
}

.user-actions{
    // margin-left: -200px;
    height: 100px;
    display: table-cell;
    vertical-align: bottom;
    // border-left: 1px solid gray;
    padding-left: 10px;
}

.user-reviews{
    height: 600px;
    width: 465px;
    background-color:violet;
}

.user-username{
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.number-reviews{
    padding-top: 2px;
    font-weight: 550;
    margin-left: 5px;
}

.reviews-holder{
    display: flex;
    flex-direction: row;
}